@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

.title {
  font-size: 9vw;
  letter-spacing: -0.4vw;
  

  @media (orientation: portrait) {
    font-size: 10vw;
  }
}

.sub-text {
  font-size: 0.9vw;
  letter-spacing: 0vw;

  @media (orientation: portrait) {
    font-size: 3vw;
  }
}



.normal-text {
  font-size: 1.6vw;
  letter-spacing: -0.02vw;
  @media (orientation: portrait) {
    font-size: 4vw; 
  }
}
